@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg)
  }
}
.cover {
  width: 240px;
  height: 240px;
  border-radius: 50%;

}
.animation-spinning{
  animation: 20s spinning infinite linear forwards;
}
.animation-paused{
  animation-play-state: paused;
}