#time-and-volume {
  font-weight: 400;
  color: rgb(155, 155, 155);
}

#timeLength {
  margin-right: 10px;
  display: inline-block;
  width: 40px;
}

#volume {
  .volumeSlider {
    transition: 0.5s;
    display: inline-block;
    height: 15px;
    position: relative;
    top: 3px;
    width: 0;
  }
  transition: all 1s;
  &:before {
    margin-right: 8px;
  }
  &:hover {
    .volumeSlider {
      width: 200px;
      display: inline-block;
    }
  }
}

.play-progress {
  height: 1px;
  width: 430px;
}
